h1 {
  display:flex;
  justify-content: center;
    color: #264D73;
    font-size: 2rem;
    //margin-left: 50px;
    align-items: center;
  }
.cuerpoo{
  display: flex-box;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-color:#dc143c;
  margin-bottom: 200px;
}

.cuerpo2{
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.add{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  }
