

.example-sidenav{
    //background-color:
    margin-right: 300px;
    position:fixed; top:0
}
.example-container{
    background-color: white;
    
}

.example-sidenav-content{
    margin-top: 20px;
    margin-right: 100px;
    position:fixed; top:0
}