.example-sidenav-content{
    //background-color: brown;
    margin-bottom: 50px;
}

.example-sidenav{
    //background-color:
    margin-right: 500px;
}

.example-container{
    background-color: white;
}