.example-sidenav-content{
    //background-color: brown;
    //width: 100%;
    //margin-bottom: 500px;
}

.example-sidenav{
    //background-color:
    margin-right: 300px;
}

.example-container{
   
}