<h1>{{title}} {{persona.user}}</h1>

<div class="edicion">
    <form [formGroup]="registerForm">
        <div class="obligatorio">
            (*) Campos obligatorios
        </div>
        <div class="formulario">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>USUARIO * </mat-label>
                <input matInput type="text" formControlName="user">
                <div class="obligatorio">
                    <mat-error>
                        <span class="form-text text-danger" *ngIf="campoValido('user')"> El nombre de usuario debe de tener
                            como mínimo 5 caracteres y como máximo 10</span>
                    </mat-error>
                </div>
            </mat-form-field>

            
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>APELLIDOS * </mat-label>
                <input matInput type="text" formControlName="surname">
                <div class="obligatorio">
                    <mat-error>
                        <span class="form-text text-danger" *ngIf="campoValido('surname')"> Los apellidos son obligatorios
                        </span>
                    </mat-error>

                </div>

            </mat-form-field>

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>PASSWORD * </mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <div class="obligatorio">
                    <mat-error>
                        <span class="form-text text-danger" *ngIf="campoValido('password')"> La contraseña debe de tener
                            como mínimo 8 caracteres </span>
                    </mat-error>
                </div>
            </mat-form-field>


            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>EMAIL EMPRESA * </mat-label>
                <input matInput type="email" formControlName="email_empresa" placeholder="Formato. pat@example.com">
                <div class="obligatorio">
                    <mat-error>
                        <span class="form-text text-danger" *ngIf="campoValido('email_empresa')"> Email corporativo no
                            válido </span>
                    </mat-error>

                </div>

            </mat-form-field>


            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>EMAIL PERSONAL * </mat-label>
                <input matInput type="email" formControlName="email_personal" placeholder="Ex. pat@example.com">
                <div class="obligatorio">
                    <mat-error>
                        <span class="form-text text-danger" *ngIf="campoValido('email_personal')"> Email personal no válido
                        </span>
                    </mat-error>

                </div>

            </mat-form-field>

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>CIUDAD * </mat-label>
                <input matInput type="text" formControlName="ciudad">
                <div class="obligatorio">
                    <mat-error>
                        <span class="form-text text-danger" *ngIf="campoValido('ciudad')"> La ciudad es obligatoria </span>
                    </mat-error>
                </div>

            </mat-form-field>

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>FECHA INICIO * </mat-label>
                <input matInput type="date" formControlName="fecha">
                <div class="obligatorio">
                    <mat-error>
                        <span class="form-text text-danger" *ngIf="campoValido('fecha')"> La fecha de inicio es obligatoria
                        </span>                        
                    </mat-error>
                </div>
            </mat-form-field>

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>IMAGEN</mat-label>
                <input matInput type="text" formControlName="imagen_url">
            </mat-form-field>

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>FECHA FIN</mat-label>
                <input matInput type="date" formControlName="termination_date">
            </mat-form-field>

            <section class="example-form-field" appearance="fill">
                <mat-slide-toggle formControlName="actividad" [color]="color">Actividad</mat-slide-toggle>
            </section>
        </div>

        <div class="boton">
            <button mat-button (click)="submit()">Guardar</button>
            <button mat-button (click)="cancelar()" *ngIf="this.valorBoton">Cancelar</button>
        </div>
    </form>
</div>