<div>
    <form (submit)="submit()" [formGroup]="registerForm">
        <div>
            <h1>{{title}} {{personaEditar.user}}</h1>
        </div>
        <div>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" formControlName="usuario">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" id="password" formControlName="password">
            </div>

            <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" id="apellidos" formControlName="apellidos">
            </div>

            <div class="form-group">
                <label for="emailempresa">Email empresa</label>
                <input type="text" id="emailempresa" formControlName="emailempresa">
            </div>

            <div class="form-group">
                <label for="emailpersonal">Email personal</label>
                <input type="text" id="emailpersonal" formControlName="emailpersonal">
            </div>

            <div class="form-group">
                <label for="ciudad">Ciudad</label>
                <input type="text" id="ciudad" formControlName="ciudad">
            </div>

            <div class="form-group">
                <label for="actividad">Actividad</label>
                <input type="text" id="actividad" formControlName="actividad">
            </div>

            <div class="form-group">
                <label for="fechainicio">Fecha inicio</label>
                <input type="date" id="fechainicio" formControlName="fechainicio">
            </div>

            <div class="form-group">
                <label for="imagen">Imagen url</label>
                <input type="text" id="imagen" formControlName="imagen">
            </div>

            <div class="form-group">
                <label for="fechafin">Fecha fin</label>
                <input type="date" id="fechafin" formControlName="fechafin">
            </div>

        </div>
        <div>
            <button class="submit">Guardar</button>
        </div>

    </form>
</div>