.example-card {
  float:left;
  max-width: 300px;
  border: 2px solid #264D73;
  margin: 10px;
  }

.mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;

}

.eliminar:hover {
  background-color: #6b2626;
  color: white;
}