h1 {
  display:flex;
  justify-content: center;
    color: #264D73;
    font-size: 2rem;
    //margin-left: 50px;
    align-items: center;
  }


  .formulario { 
    margin-top: 30px;
  }

  .obligatorio { 
    display:flex;
    justify-content: center;
    font-style: oblique;
      font-size: 0.80rem;
      align-items: center;
  }
  .example-form-field {
    width: 700px;
  }

  .boton {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  .edicion{
    width: 100%;
    max-width: 1px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }

  .boton-volver{
    display:flex;
    justify-content: flex-start;
      //margin-left: 50px;
      align-items: flex-start;
  }

  .cancelar:hover {
    background-color: #500000;
    color: white;
  }