.mat-dialog-content{
    width: 500px;
    height: 900px;
}


.boton {
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .modal-header{
    //   background-color:white;
    //   color: #264D73;
    //   position:fixed;
    //   margin-top: 1px;
  }

  .cerrar:hover {
    background-color: #d10000;
    color: white;
  }